@font-face {
  font-family: 'ProximaNova Regular';
  src: url('../fonts/ProximaNova/proxima-nova-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova Light';
  src: url('../fonts/ProximaNova/proxima-nova-light.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamRounded Light';
  src: url('../fonts/GothamRounded/gotham-rounded-light.ttf') format('truetype');
}
